<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>800180850077-ickh28i3d5jpj9iv4kin3a5auod5gc1k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.800180850077-ickh28i3d5jpj9iv4kin3a5auod5gc1k</string>
	<key>API_KEY</key>
	<string>AIzaSyDy0PcDsK8ky8zLYsN86J7NXxyDeGEfNkE</string>
	<key>GCM_SENDER_ID</key>
	<string>800180850077</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bhanu.firebaseSandbox</string>
	<key>PROJECT_ID</key>
	<string>fir-sandbox-10a41</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-sandbox-10a41.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:800180850077:ios:2836a055867861f1</string>
	<key>DATABASE_URL</key>
	<string>https://fir-sandbox-10a41.firebaseio.com</string>
</dict>
</plist>